p {
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
li {
  color: white;
}
a {
  color: rgb(24, 236, 255);
  text-decoration: underline;
}
body {
  background: #0b3257;
  min-width: 250px;
  width: 1000px;
  margin: 0 auto;
}

.subpage-navigation {
  display: inline-block;
  border: 5px solid #f4d35e;
  background: #162d92;
  padding: 20px;
  border-radius: 20px;
}
.subpage-navigation__link {
  padding: 50px;
  font-size: 30px;
  color: #efff13;
  text-decoration: none;
}
.subpage-navigation__link--main {
  color: rgb(241, 128, 22);
}
.main-header {
  font-family: lazer84;
}
.main-header__header {
  font-size: 50px;
  color: #f4d35e;
  text-shadow: 2px 2px 0 rgb(240, 30, 30);
  text-align: center;
}
.main-header__photo {
  display: block;
  margin: 0 auto;
  width: 400px;
  border: 2px red;
}
.main-header__photo--mine-photo {
  border-radius: 100px;
  border: 10px solid #4d40ffe8;;
  box-shadow: 10px 20px 0 #3419cf;;
  margin-bottom: 60px;
}
.section {
  display: block;
  border: 9px dotted rgb(214, 178, 80);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
.section__header {
  text-align: center;
  color: #f4d35e;
}
.article {
}
.article__header {
  color: #f95738;
}
.article__paragraph {
  color: #faf0ca;
}
.article__paragraph-link {
}
.article__paragraph-image {

}
.footer
{

}
.footer__paragraph
{
<<<<<<< HEAD
  color:rgb(241, 128, 22)
=======
    color:aqua;
    border: 2px dotted rgb(255, 115, 0);
    font-size: 2rem;
>>>>>>> 541627fcf70acc4eacef154e5958c50953f3df4c
}
